.ticket-container {
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #622f4e;
}

.ticket-upper {
  width: 100%;
}

.ticket-lower {
  width: 100%;
}
