.gallery-main {
    background-color: #632f4e;
    width: 100vw;
    
    padding: 10px;
    box-sizing: border-box;

}

.gallery-tagline {
    
    line-height: 9rem;
    height: 20rem;
    overflow: hidden;
    
    text-align: center;
    position:sticky;
    top: 30%;
    color: #f3d4e7;
    
}
.italics {
      font-family: "Baskerville BT Pro";
     font-size: 70px;
    font-weight: 100;
    font-style: italic;
}
.bebas-gallery {
    font-weight: 400;
     font-size: 280px;
    font-family: "Bebas Neue" ;
    animation: comeup 0.8s ease 1;
}
@keyframes comeup {
    from {
        transform: translate(0px, 1000px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

.galllery-images {
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    margin-top: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image-div img {
    height: 100%;
    width: 100%;
}
.galllery-images > div {
    height: var(--h) ;
    width:calc(var(--h)* 3px ) ;
    padding-top: var(--p);
    
    
}