.gallery-main {
    background-color: #632f4e;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;

}

.gallery-tagline {
    
    line-height: 9rem;
    height: 20rem;
    
    text-align: center;
    position:sticky;
    top: 30%;
    color: #f3d4e7;
    
}
.italics {
      font-family: "Baskerville BT Pro";
     font-size: 70px;
    font-weight: 100;
    font-style: italic;
}
.bebas-gallery {
    font-weight: 400;
     font-size: 280px;
    font-family: "Bebas Neue" ;
}